/*
Theme Name: IPN VoD v2
Theme URI: 
Description: Tema para IPN VoD
Author: Emiliano Hernández
Author URI: http://twitter.com/milioh
Version: 1.0
Tags: black, blue, white, two-columns, fixed-width, custom-header, custom-background, threaded-comments, sticky-post, translation-ready, microformats, rtl-language-support, editor-style, custom-menu (optional)

License: 
License URI: 

Lead Project: @milioh
Design: @layout
UX & HTML Building: @milioh
Development & Functions: @milioh
*/

/* Fonts */
@font-face {
          font-family: 'Open Sans Bold';
          src: url('../fonts/OpenSans-Bold.eot');
          src: url('../fonts/OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OpenSans-Bold.woff2') format('woff2'),
          url('../fonts/OpenSans-Bold.woff') format('woff'),
          url('../fonts/OpenSans-Bold.svg#webfont') format('svg');
          font-weight: normal;
          font-style: normal; }
@font-face {
          font-family: 'Open Sans Bold Italic';
          src: url('../fonts/OpenSans-BoldItalic.eot');
          src: url('../fonts/OpenSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OpenSans-BoldItalic.woff2') format('woff2'),
          url('../fonts/OpenSans-BoldItalic.woff') format('woff'),
          url('../fonts/OpenSans-BoldItalic.svg#webfont') format('svg');
          font-weight: normal;
          font-style: normal; }
@font-face {
          font-family: 'Open Sans Regular';
          src: url('../fonts/OpenSans-Regular.eot');
          src: url('../fonts/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OpenSans-Regular.woff2') format('woff2'),
          url('../fonts/OpenSans-Regular.woff') format('woff'),
          url('../fonts/OpenSans-Regular.svg#webfont') format('svg');
          font-weight: normal;
          font-style: normal; }
@font-face {
          font-family: 'Open Sans SemiBold';
          src: url('../fonts/OpenSans-SemiBold.eot');
          src: url('../fonts/OpenSans-SemiBold.eot?#iefix') format('embedded-opentype'),
          url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
          url('../fonts/OpenSans-SemiBold.woff') format('woff'),
          url('../fonts/OpenSans-SemiBold.svg#webfont') format('svg');
          font-weight: normal;
          font-style: normal; }
@font-face {
          font-family: 'Avenir Next Regular';
          src: url('../fonts/AvenirNext-Regular.eot');
          src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
          url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
          url('../fonts/AvenirNext-Regular.woff') format('woff'),
          url('../fonts/AvenirNext-Regular.svg#webfont') format('svg');
          font-weight: normal;
          font-style: normal; }

.roboto { font-family: roboto, sans-serif; }
.helvetica { font-family: helvetica, sans-serif; }
.opns-bold { font-family: 'Open Sans Bold', sans-serif; }
.opns-bold-italic { font-family: 'Open Sans Bold Italic', sans-serif; }
.opns-regular { font-family: 'Open Sans Regular', sans-serif; }
.opns-semibold { font-family: 'Open Sans SemiBold', sans-serif; }
.avenir-next-regular { font-family: 'Avenir Next Regular', sans-serif; }
 
.font12 { font-size: 12px !important; }
.font14 { font-size: 14px !important; }
.font15 { font-size: 15px !important; }
.font16 { font-size: 16px !important; }
.font18 { font-size: 18px !important; }
.font19 { font-size: 19px !important; }
.font20 { font-size: 20px !important; }
.font22 { font-size: 22px !important; }
.font23 { font-size: 23px !important; }
.font24 { font-size: 24px !important; }
.font26 { font-size: 26px !important; }
.font30 { font-size: 30px !important; }
.font34 { font-size: 34px !important; }
.font35 { font-size: 35px !important; }
.font36 { font-size: 36px !important; }
.font38 { font-size: 38px !important; }
.font42 { font-size: 42px !important; }
.font48 { font-size: 48px !important; }
.font100 { font-size: 100px !important; }

/*Colors*/
.gray-text { color: #303030; }
.green-text { color: #87DE34; }
.asphalt { background-color: #1B000D; }
.asphalt-text { color: #1B000D; }
.magenta-text { color: #D431BF; }
.facebook { background-color: #4E69A2 !important; }
.facebook-text { color: #4E69A2 !important; }

/* GENERAL */
html, body { width: 100%; height: 100%; background-color: #1b000d; color: #000; }
.centered { margin: 0 auto; text-align: center; }
.left { margin: 0 auto; text-align: left; }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }
.lowercase { text-transform: lowercase; }
.space5 { margin-top: 5px; display: block; }
.space10 { margin-top: 10px; display: block; }
.space20 { margin-top: 20px; display: block; }
.space30 { margin-top: 30px; display: block; }
.space40 { margin-top: 40px; display: block; }
.space60 { margin-top: 60px; display: block; }
.space80 { margin-top: 80px; display: block; }
.space100 { margin-top: 100px; display: block; }
.space160 { margin-top: 160px; display: block; }
.space200 { margin-top: 200px; display: block; }
.space300 { margin-top: 300px; display: block; }
.inline { display: inline-block; }
.block { display: block; }
.underline { text-decoration: underline; }
.no-padding { padding: 0 !important; }
.padding-1rem { padding: 1rem !important; }
.no-box-shadow { box-shadow: none !important; }
.no-margin-row { margin-bottom: 0; }
.clear { clear: both !important; }
.text-justify { text-align: justify; }
.responsive-img-full-w-h { width: 100%; height: 100%; }
div.spinner-layer.spinner-white-only { border-color: #FFF !important; }

/*HTML Ancho Maximo 1300px-Background Blanco y sin Margen Top y ocultar scrollbars*/
html {
    max-width: 1300px !important;
    margin: 0 auto !important;
    background-color: #1B000D !important;
    margin-top: 0px !important;
}
::-webkit-scrollbar { 
    width: 0; 
}

/*Modal*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    /*width: 100%; /* Full width */
    /*height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#modal1 { width: 100%; height: 100%; }
#modal1 .modal-content { width: 818px; height: 434px; margin: 0 auto; position: relative; }
#modal1 .modal-content .title { position: absolute; top: 200px; left: 200px; width: 540px; }
#modal1 .modal-content .subtitle { position: absolute; top: 230px; left: 200px; width: 540px; }
#modal1 .modal-content .facebook-box { position: absolute; top: 270px; left: 200px; width: 540px; }
#modal1 .modal-content .o { position: absolute; top: 310px; left: 200px; width: 540px; }
#modal1 .modal-content .email { position: absolute; top: 340px; left: 200px; width: 540px; }
#modal1 .modal-content .closeModal { position: absolute; top: 150px; right: 0px; }
#modal1 .modal-content a.btnModalClose:hover { background-color: transparent !important; }

div.modal-content.black { }

/*Navbar*/
.nav-wrapper {
    background: #A7004C; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, #A7004C , #6F0035); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #A7004C, #6F0035); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #A7004C, #6F0035); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #A7004C , #6F0035); /* Standard syntax (must be last) */
}
.brand-logo {
	z-index: 2;
}
.brand-logo img {
	/*height: 64px;*/
	margin-left: 50px;
	margin-top: 8px;
}
.contenedor-btn-navbar {
    height: 64px;
    line-height: 64px;
    position: relative;
    width: 215px;
    margin: 0 5px;
}
.contenedor-btn-navbar a {
    border: 1px solid #AA004E;
    line-height: 30px;
    margin-top: 16px;
    position: absolute;
}
.modal {
    background-color: transparent;
    box-shadow: none;
}
#mobile-demo {
    background-color: #701043;
}

/*Slider Home*/
.slider {
    height: 700px !important;
}
.slides {
    position: relative;
    height: 700px !important;
}
.indicator-item.active {
    background-color: black !important;
    border: 2px solid white !important;
}
.slider .indicators {
    bottom: 5px !important;
    z-index: 2 !important;
}
.caption {
    width: 540px !important;
    height: 245px;
    bottom: 30px;
    left: 8% !important;
    top: auto !important;
}
.btnGreen {
	background-color: #87DE34;
    height: 48px;
    line-height: 48px;
    cursor: pointer;
}
.btnGreen img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-top: -10px;
    margin-right: 5px;
}
.contenedor-reprodicir-slider.centered {
    background-color: #87DE34;
    height: 48px;
    line-height: 48px;
}
.contenedor-reprodicir-slider img {
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-top: -10px;
    margin-right: 5px;
}
.btn-temporadas-slider {
	text-transform: none;
	background-color: transparent;
	box-shadow: none;
	line-height: 30px
}
.btn-temporadas-slider:hover{
	background-color: transparent;
	box-shadow: none;
}
.contenedor-btn-mas {
    border: 1px solid #AA004E;
    height: 48px;
    line-height: 48px;
}
.contenedor-btn-favorito {
    height: 48px;
    line-height: 48px;
    position: relative;
}
.padding-left-temporada {
	padding-left: 1rem;
}
.btn-fav-img {
	font-size: 3rem;
	vertical-align: middle;
	margin-top: -10px;
}
.btn-favoritos {
	margin-left: 20px;
}

/*Programas y Buscador Home*/
.editar-busqueda {
    font-size: 14px !important;
    font-style: italic;
    text-indent: 20px;
    border: 1px solid grey !important;
    color: grey;
}
.editar-busqueda input:not([type]):focus:not([readonly]), input[type="date"]:not(.browser-default):focus:not([readonly]), input[type="datetime-local"]:not(.browser-default):focus:not([readonly]), input[type="datetime"]:not(.browser-default):focus:not([readonly]), input[type="email"]:not(.browser-default):focus:not([readonly]), input[type="number"]:not(.browser-default):focus:not([readonly]), input[type="password"]:not(.browser-default):focus:not([readonly]), input[type="search"]:not(.browser-default):focus:not([readonly]), input[type="tel"]:not(.browser-default):focus:not([readonly]), input[type="text"]:not(.browser-default):focus:not([readonly]), input[type="time"]:not(.browser-default):focus:not([readonly]), input[type="url"]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom:1px solid grey;
    -webkit-box-shadow:0 1px 0 0 grey;
    box-shadow:0 1px 0 0 grey;
}
.editar-busqueda::placeholder {
	color: grey;
}
.icon-busqueda {
    font-size: 3rem;
    line-height: 70px;
}
.dropdown-content { min-width: 200px !important; }
.dropdown-content li.active, .dropdown-content li.selected, .dropdown-content li:hover { background-color: #aa004e; }
.toast { background-color: #aa004e; }

/*Carrusel Home*/
.carrusel {
    background: #9E2274; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#9E2274, #2E0014); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#9E2274, #2E0014); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#9E2274, #2E0014); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#9E2274, #2E0014); /* Standard syntax (must be last) */
    /*min-height: 500px;*/
}
.btn-left-carrusel {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 40px;
    left: 0;
    z-index: 10;
    cursor: w-resize;
}
.btn-right-carrusel {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 40px;
    right: 0;
    z-index: 10;
    cursor: e-resize;
}
.contenedor-img-carrusel {
    /*height: 400px;*/
    position: relative;
}
.carrusel-edit {
    position: relative;
    padding: 0 40px;
}
.info-text-carrusel {
    width: 167px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #AA004E;
    margin: 0 auto;
    font-size: 23px;
    padding: 8px 0 11px 0;
    z-index: 5;
}
.hover-ver-mas {
    position: absolute;
    background-color:transparent;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.hover-ver-mas:hover {
    background-color: rgba(0,0,0,.8);
}
.hover-ver-mas i {
    text-align: center;
    top: 30%;
    left: 0;
    right: 0;
    position: absolute;
    font-size: 8rem;
}
.hover-ver-mas p {
    position: absolute;
    text-align: center;
    display: block;
    left: 0;
    right: 0;
    top: 55%;
}
.hover-ver-mas {
	display: none;
}
a:hover .hover-ver-mas {
	display: block
}
.padding-left-30-desktop {
	padding-left: 30px !important;
}
.contenedor-logo-serie {
    width: 370px;
    /*height: 250px;*/
}
.info-serie-footer {
	display: none;
	position: relative;
	margin-bottom: 0px;
}
.info-serie {
	display: block;
	position: relative;
	margin-bottom: 0px;
}
.edit-img-series{
	/*background-image: url(../img/img_cenado_info.png);*/
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	min-height: 600px !important;
}
.sombra-contenedor {
	background: rgba(0,0,0, .9); /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, rgba(0,0,0, 1) , rgba(0,0,0, .1)); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, rgba(0,0,0, 1), rgba(0,0,0, .1)); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, rgba(0,0,0, 1), rgba(0,0,0, .1)); /* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, rgba(0,0,0, 1) , rgba(0,0,0, .1)); /* Standard syntax */
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.sombra-arriba {
    position: absolute;
    top: 0;
    height: 70px;
    background: rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(rgba(0, 0, 0, .9) , rgba(0, 0, 0, 0));
    background: -o-linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
    background: linear-gradient(rgba(0, 0, 0, .9), rgba(0, 0, 0, 0));
}
.sombra-abajo {
    position: absolute;
    bottom: 0;
    height: 70px;
    background: rgba(0, 0, 0, 0);
    background: -webkit-linear-gradient(rgba(0, 0, 0, 0) , rgba(0, 0, 0, .9));
    background: -o-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
    background: -moz-linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .9));
}
.btn-close-info {
    padding: 0;
    background-color: transparent;
    border: 0;
    position: absolute ;
    right: 20px;
    top: 25px;
}
.show { cursor: pointer; }

.slick-next { background: url('../img/img_right_arrow.png') no-repeat; display: block; height: 100%; width: 40px; z-index: 9999; right: 0; background-size: cover; background-position: center center; }
.slick-next::before { content: none !important; }
.slick-next:hover, .slick-next:focus { background: url('../img/img_right_arrow.png') no-repeat; display: block; height: 100%; width: 40px; z-index: 9999; right: 0; background-size: cover; background-position: center center; }

.slick-prev { background: url('../img/img_left_arrow.png') no-repeat; display: block; height: 100%; width: 40px; z-index: 9999; left: 0; background-size: cover; background-position: center center; }
.slick-prev:before { content: none !important; }
.slick-prev:hover, .slick-prev:focus { background: url('../img/img_left_arrow.png') no-repeat; display: block; height: 100%; width: 40px; background-size: cover; background-position: center center; }

.my-videos div.slick-list.draggable { margin: 0 40px; }

/*Footer*/
.contenedor-footer-social {
    width: 100px;
    height: 40px;
    display: inline-block;
}

/*Registro Usuario*/
.registro-usuario {
	background: #701043; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#701043 , #440821); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#701043, #440821); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#701043, #440821); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#701043 , #440821); /* Standard syntax */
}
.inp-registro {
    background-color: white !important;
    border-radius: 5px !important;
    margin-top: 15px !important;
    text-indent: 10px !important;
}
.btn-select .caret {
    z-index: 1;
    width: 15px;
    font-size: .8rem !important;
}
.btn-select .select-dropdown {
    background-color: white !important;
    border-radius: 5px !important;
    margin-top: 15px !important;
    text-indent: 5px;
}
.btn-select .dropdown-content li > a, .btn-select .dropdown-content li > span {
    color: black;
}
.select-wrapper input.select-dropdown { text-indent: 10px !important; }
.selector-edad {
	margin-left: -150px !important;
}
.editar-checkbox input {
    width: 30px !important;
    margin-top: 1px !important;
    height: 20px !important;
}
.inp-fecha {
	-webkit-transform: translateY(-14px) scale(.8) !important;
	transform: translateY(-14px) scale(.8) !important;
	-webkit-transform-origin: 0 0 !important;
	transform-origin: 0 0 !important;
}
.editar-checkbox [type="checkbox"]:not(:checked) {
    opacity:1;
}
.editar-checkbox [type="checkbox"]:checked  {
    opacity:0;
}
.editar-checkbox [type="checkbox"] + label {
    padding-left: 25px;
}
.editar-checkbox [type="checkbox"] + label::before {
    border:2px solid transparent;
}
.editar-checkbox [type="checkbox"]:checked + label::before {
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid #87DE34;
    border-bottom: 2px solid #87DE34;
}
.contenedor-texto-terminos {
    height: 200px;
    background-color: white;
    border-radius: 12px;
    overflow: scroll;
}
.contenedor-texto-terminos p {
    padding: 0 15px;
    text-align: justify;
    overflow: scroll;
    overflow-x: hidden;
    margin-right: 5px;
}
.scbar::-webkit-scrollbar {
    width: 10px; 
}
.scbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
    border-radius: 10px;
}
.scbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 15px rgba(0,0,0,1);
}
.picker__date-display { 
	background: #701043; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#701043 , #440821); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#701043, #440821); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#701043, #440821); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#701043 , #440821); /* Standard syntax */
}
.picker--focused .picker__day--selected, .picker__day--selected, .picker__day--selected:hover { background-color: #1B000D !important; }
.picker__close, .picker__today { color: #1B000D !important; }
.picker__clear { color: red !important; }
.picker__box { border: none !important; }
.picker__weekday, .picker__weekday-display { display: none !important; }
.contenedor-reprodicir-slider { cursor: pointer; }

/*Favoritos*/
.favoritos {
	background: #701043; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#701043 , #440821); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#701043, #440821); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#701043, #440821); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#701043 , #440821); /* Standard syntax */
}
.contenedor-favoritos-series {
    padding: 0 !important;
}
.padding-favoritos-series {
	padding: 0 50px !important;
}

/*Carrusel Interes*/
.contenedor-img-carrusel-interes {
    position: relative;
}
.contenedor-titulo-carrusel-interes {
    padding-left: 50px;
    padding-top: 20px;
}
.info-text-carrusel-interes {
    width:167px;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    background-color:#aa004e;
    font-size:23px;
    padding:8px 0 11px 0;
    z-index:5;
}
.contenedor-img-favoritos {
    
}

/*Series*/
.img-banner-serie {
	background-position: right center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}
.btn-fav-img-serie {
    font-size: 3rem;
    vertical-align: middle;
}
.margin-100-serie {
	margin-left: 100px;
}
.contenedor-banner-img-mobile-serie {
    width: 300px;
    height: 380px;
    margin: 25px auto 30px auto ;
    position: relative;
}
.sombra-abajo-serie {
    position:absolute;
    bottom:0;
    height:70px;
    background:rgba(0,0,0,0);
    background:-webkit-linear-gradient(rgba(0,0,0,0) ,rgba(0,0,0,.9));
    background:-o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.9));
    background:-moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.9));
    background:linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.9));
}
.cont-img-serie {
    width: 300px;
    margin-left: 8.333333%;
}
.episodios-series {
	background: #440821; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#9E2274 20% , #440821); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#9E2274 20%, #440821); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#9E2274 20%, #440821); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#9E2274 20% , #440821); /* Standard syntax */
	padding: 40px 0 0 0;
}
.float-right-serie {
	float: right !important;
}
.contenedor-reproducir-episodio-serie {
    position: relative;
}
.btn-play-serie {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
.btn-arriba {
    width: 50px;
    height: 45px;
    border: 1px solid #AA004E;
    position: absolute ;
    bottom: 0;
    right: 0;
    text-align: center;
}
.descripcion-episodio {
    height: 36px;
    overflow: hidden ;
}

/*Categorias*/
.categorias .caption {
    width: 540px !important;
    height: 200px;
    bottom: 30px;
    left: 8% !important;
    top: auto !important;
}
.categoria {
	background: #A2277A; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#A2277A , #440821); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#A2277A, #440821); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#A2277A, #440821); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#A2277A , #440821); /* Standard syntax */
}

/* Videos */
.video-caption { width: 100%; height: 100%; position: absolute; background: transparent; z-index: 2; bottom: 0; }
.video-caption .controls { min-height: 250px; bottom: 0; position: absolute; width: 100%; height: auto; background: transparent; /* For browsers that do not support gradients */ background: -webkit-linear-gradient(transparent, black); /* For Safari 5.1 to 6.0 */ background: -o-linear-gradient(transparent, black); /* For Opera 11.1 to 12.0 */ background: -moz-linear-gradient(transparent, black); /* For Firefox 3.6 to 15 */ background: linear-gradient(transparent, black); /* Standard syntax */ }
.video-caption .controls .btn-flat { padding: 0 1rem; margin-top: -6px; }

.closeVideo { z-index: 2; top: 10px; left: 10px; position: absolute; width: 100%; height: auto; text-align: right; }
.video-caption span.thumb.active,input[type=range]+.thumb.active { display: none; }

.plyr input[type=range]::-ms-fill-lower { background: #D431BF; }
.plyr input[type=range]:active::-webkit-slider-thumb { background: #D431BF; }
.plyr input[type=range]:active::-moz-range-thumb { background: #D431BF; }
.plyr input[type=range]:active::-ms-thumb { background: #D431BF; }
.plyr--video .plyr__controls button.tab-focus:focus,.plyr--video .plyr__controls button:hover { background: #D431BF; }
.plyr--audio .plyr__controls button.tab-focus:focus,.plyr--audio .plyr__controls button:hover { background: #D431BF; }
.plyr__play-large { background: #D431BF; }
.plyr__progress--played,.plyr__volume--display { color: #D431BF; }

@media only screen  and (max-width : 1150px) {
	.caption {
	    left: 4% !important;
	}
	.inp-etiqueta {
		font-size: 16px !important;
	}
	.text-label-registro {
		font-size: 12px !important;
	}
	.titulo-episodio {
	    margin-top: 0;
	}
	.categorias .caption {
	    left: 4% !important;
	}
}

/* Styles for Tablets */

@media only screen  and (max-width : 992px) {
	.font22 {
		font-size: 16px !important;
	}
	.font35 {
		font-size: 25px !important;
	}
	.tablet-text-center {
		text-align: center;
	}
	.brand-logo img {
		margin-left: 0;
		margin-top: 0;
		height: 64px;
	}
	.img-user {
	    text-align: center;
	    position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    line-height: 56px;
	}
	.slider {
	    height: 440px !important;
	}
	.slides {
	    position: relative;
	    height: 440px !important;
	}
	.slider .indicators {
	    display: none;
	}
	.contenedor-img-carrusel {
	    /*height: 60vw;*/
	}
	.btn-left-carrusel, .btn-right-carrusel {
	    width: 30px;
	}
	.carrusel-edit {
	    padding: 0;
	}
	.info-text-carrusel {
	    width: 160px;
	    font-size: 20px;
	}
	.no-padding-med-and-down {
		padding: 0 !important;
	}
	.contenedor-logo-footer {
	    height: 100px;
	    width: 200px;
	}
	.centered-med-and-down {
		text-align: center;
		display: block;
	}
	.caption {
	    width: 100% !important;
	    height: auto;
	    bottom: 0;
	    left: 0 !important;
	}
	.btnGreen img {
	    width: 2rem;
	    height: 2rem;
	    vertical-align: middle;
	    margin-top: auto;
	    margin-right: 5px;
	}
	.contenedor-reprodicir-slider img {
	    width: 2rem;
	    height: 2rem;
	    vertical-align: middle;
	    margin-top: auto;
	    margin-right: 5px;
	}
	.btn-fav-img {
		font-size: 2rem;
		margin-top: -5px;
	}
	.padding-left-30-desktop {
		padding-left: .75rem !important;
	}
	.contenedor-logo-serie {
		margin: 0 auto;
	}
	.contenedor-titulo-registro {
	    width: 220px;
	    margin: 0 auto;
	}
	.inp-etiqueta {
		font-size: 20px !important;
	}
	.selector-edad {
		margin-left: inherit !important;
	}
	.text-label-registro {
		font-size: 16px !important;
	}
	.contenedor-texto-terminos p {
	    /*height: 110px;*/
	}
	.contenedor-titulo-favoritos {
	    width: 200px;
	    margin: 0 auto;
	}
	.contenedor-titulo-carrusel-interes {
	    padding-left: initial;
		width: 380px;
		margin: 0 auto ;
	}
	.contenedor-img-favoritos {
	    /*height: 35vw;*/
	}
	.contenedor-img-carrusel-interes {
	    /*height: 40vw;*/
	}
	.contenedor-favoritos-series {
	    /*max-height: 73vw;*/
	}
	.img-banner-serie {
	    background-image:url(../img/img_fondo_serie_mobile.png) !important;
	}
	.sombra-abajo-serie {
	    height: 140px;
	}
	.float-right-serie {
		float: inherit !important;
	}
	.btn-fav-img-serie {
	    font-size: 2rem;
	}
	.btn-arriba {
        left: 0;
        margin: auto;
    }
    .titulo-episodio {
	    margin-top: 0;
	}
	.categorias .caption {
	    width: 100% !important;
	    height: auto;
	    bottom: 0;
	    left: 0 !important;
	}
	.video-caption .controls .font30 { font-size: 24px !important; }
	.modal-overlay { /* display: none !important; */ }
	.episodios-series { padding: 0px !important; }
}

/* Styles for Smartphones */

@media only screen  and (max-width : 600px) {
	.brand-logo img {
		height: 56px
	}
    .editar-busqueda {
        font-size: 10px !important;
        text-indent: 5px;
    }
    .icon-busqueda {
        display: block;
		text-align: center
    }
	.btn-left-carrusel, .btn-right-carrusel {
	    width: 20px;
	}
    .info-text-carrusel {
        width: 120px;
        font-size: 13px;
    }.contenedor-footer-social {
        width: 30%;
        height: auto;
    }
    .no-margin-row-mobile {
	    margin-bottom: 0;
    }
	.btn-favoritos {
		margin-left: auto;
	}
	.hover-ver-mas i {
	    top: 20%;
	}
	.mobil-text-justify {
		text-align: justify;
	}
	.contenedor-logo-serie {
	    width: 200px;
	    /* height: 200px; */
	}
	.inp-etiqueta {
		font-size: 14px !important;
	}
	.text-label-registro {
		font-size: 12px !important;
		overflow: hidden;
	}
	.contenedor-titulo-carrusel-interes {
	    width: 275px;
	}
	.font36 {
		font-size: 26px !important
	}
	.font38 {
		font-size: 28px !important
	}
	.info-text-carrusel-interes {
	    width:100px;
	    font-size:12px;
	    padding:5px 0 8px 0;
	}
	.contenedor-img-carrusel-interes {
		/*height: 60vw;*/
	}
	.padding-favoritos-series {
        padding: 0 0 0 .75rem !important;
    }
    .contenedor-favoritos-series {
	    /*max-height: 76vw;*/
	}
	.descripcion-episodio {
	    height: auto;
	}
    .hover-ver-mas i {
        font-size: 15vw;
    }
    .hover-ver-mas p {
        top: 40%;
    }
    .video-caption .controls .font30 { font-size: 20px !important; }
    .plyr__video-embed { z-index: 1; }
}
@media only screen  and (max-width : 400px) {
	.text-label-registro {
		font-size: 10px !important;
		overflow: hidden;
		width: 85px;
	}
}

/*Agosto 20 CSS*/
.sldVMPdg { padding: 0 2px; }
.mar0-4 { margin: 0px 4px; }
.marLeft10 { margin-left: 10px; }
.v2DspNone { display: none; }
.relPadbot45 { position: relative; padding-bottom: 45px; }
.font3rem { font-size: 3rem; }
.relZin10 { position: relative !important; z-index: 10 !important; }
